nav,
.nav {
    color: rgb(233, 224, 224);
    background: linear-gradient(rgb(57, 136, 136), rgb(79, 146, 158));
}

main,
.main {
    background: linear-gradient(rgb(171, 117, 194), rgb(211, 25, 25));
}

.banner {
    min-width: 100%;
    height: auto;
}

.btn1 {
    color: green;
    background-color: red;
}

.btn2 {
    color: crimson;
    background-color: green;
}

footer,
.footer {
    background: linear-gradient(to top, aqua, black);
    color: white;
}

.flashy-text {
    color: aqua;
    animation: blink-animation 0.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.2s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}